
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #484a4d;
    height: 50px;
    padding: 0 0.5rem;
    color: beige;
}

.navigate {
    display: flex;
    height: 100%;
    padding: 0 0.5rem;
    align-items: center;
}

.specificNav a {
    padding: 0 0.5rem;
    align-items: center;
}

.specificNav a:hover,
.specificNav a:active {
    color: darkgoldenrod;
}

.specificNav ul {
    list-style: none;
    display: flex;
    padding: 0%;
}

.about {
    display: flex;
    height: 100%;
    align-items: center;
}

.about a:hover,
.about a:active {
    color: darkgoldenrod;
}

.about ul {
    list-style: none;
    display: flex;
    padding: 0%;
}

.about a {
    padding: 0 0.5rem;
    align-items: center;
}

.myspace {
    flex: 1;
}

.Mytext {
    width: 100%;
    color: beige;
}